/*重置样式*/
body,div,p,ul,ol,dl,dt,dd,li,form,input,table,th,td,img,h1,h2,h3,h4,h5,h6 { margin: 0;padding: 0;}
body { background: #fff;font-size: 12px; font-style: normal; font-family:'Microsoft Yahei','微软雅黑','Simsun','宋体','Arial', sans-serif; color: #000;}
em, b, i {font-style:normal;}
li {list-style:none;}
img {border:0;}
a {text-decoration:none; color:#08c;}
a:hover {text-decoration:underline; color:#f50;}
table {border-spacing:0; border-collapse:collapse;}

.flt{
    float: left;
}

.frt{
    float: right;
}

.header-bg{
    height: 50px;
    background:#000;
 }

 .header{
     height: 20px;
     padding:15px 0;
 }

 .logo{
     position: relative;
     width: 46px;
     height:17px;
     background: url("../images/logo.png");
 }

.logo a{
    display: inline-block;
    width: 46px;
    height: 17px;
    font-size: 0;
}

.nav li{
    float:left;
}

.nav li a{
    display: inline-block;
    margin-left: 35px;
    font-size: 14px;
    color: #fff;
}

.nav li.active a{
    color: #868686;
}

.nav li a:hover{
    color: #868686;
    text-decoration: none;
}

.focus{
    height:658px;
    background-color:#08c;
}

.content{
    width: 1240px;
    margin:0 auto;
}

.module{
    height: 165px;
}

.app-body{
    padding:55px 0;
}

.app-box{
    float: left;
    width: 412px;
    height: 52px;
    padding-top: 5px;
    border-left: 1px solid #e1e1e1;
}

.app-box:first-child{
    border-left: 0;
}

.app-link:hover .desc-t3,
.app-link:hover .click-text{
    color: #f78200;
}

.app-img{
    float: left;
    width: 48px;
    height: 48px;
    margin: 0 25px 0 50px;
}

.app-desc{
    float: left;
    width: 260px;
}

.app-desc span{
    display: block;
}

.desc-t3{
    font-size: 18px;
    line-height: 1.5;
    color: #333;
}

.click-text{
    font-size: 14px;
    color: #666;
}

.footer{
    height: 160px;
    background: #ccc;
}
